<app-header></app-header>
<div class="login">
  <div class="container">
    <h2>Sign In</h2>
    @if(userService.loginFailed){
    <p class="failed">Log In Failed, Username/Email or Password does not exist</p>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="username">Username or Email Address</label>
        <input type="text" id="username" formControlName="username"
          [ngClass]="{'invalid-field': isSubmitted && loginForm.get('username')?.invalid}" />
        <div *ngIf="isSubmitted&&loginForm.get('username')?.invalid">
          <p class="error">Username is required</p>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="passwordInput">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
            [ngClass]="{'invalid-field': isSubmitted && loginForm.get('password')?.invalid}" />
          <div class="eyes">
            <!-- Closed Eye Icon (Password Hidden) -->
            <img src="eye-close.png" alt="" *ngIf="!showPassword" (click)="togglePasswordVisibility()">

            <!-- Open Eye Icon (Password Visible) -->
            <img src="view.svg" alt="" *ngIf="showPassword" (click)="togglePasswordVisibility()">
          </div>
        </div>

        <div *ngIf="isSubmitted&&loginForm.get('password')?.invalid">
          <p class="error">Password is required</p>
        </div>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
</div>
<!-- <app-footer></app-footer> -->