/* Container for the form */
.container {
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

img {
  width: 24px;
  height: 24px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f13c3c;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff5c59;
}

.error {
  color: red;
  margin-top: -20px;
  margin-bottom: 20px;
}

.failed {
  color: rgb(216, 0, 0);
  font-weight: 500;
  margin-bottom: 20px;
}

.invalid-field {
  border: 2px solid red;
}

.passwordInput {
  position: relative;
  width: 100%;
}

input {
  width: 100%; /* Make the input fields take 50% of the container width */
  padding: 10px 0px;
  border: none;
  margin-bottom: 30px;
  background-color: rgba(211, 211, 211, 0.5); /* Light grey with transparency */
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.eyes {
  position: absolute;
  top: 15%;
  right: 10px;
  cursor: pointer;
}

h2 {
  font-size: 25px;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  font-weight: 500;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 500px) {
  .container {
    box-shadow: none;
  }
}
