<nav>
  <div class="headerContainer">
    //<router-outlet></router-outlet>
    <div class="logoContainer">
      <h1 class="logo">Trendly</h1>
    </div>

    <div class="navArea">

      <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">All Categories</a></li>
      </ul>
      <div class="wishListAndCart">
        <div class="wishList">
          <img src="headerHeart.svg" alt="A heart icon">
          <p class="wishListCounter">{{3}}</p>
        </div>
        <div class="cart">
          <img src="headerCart.svg" alt="A cart icon">
          <p class="cartCounter">{{5}}</p>
        </div>
        <div class="total">
          <p>${{total}}</p>
        </div>
        <div class="user">
          <img src="user.svg" alt="A person icon">
          <!-- <span>Account</span> -->
          <ul>
<!--            //routerLink="/login" routerLinkActive="active"-->
            <li><a routerLink="/login" routerLinkActive="active">Sign In</a></li>
            <li><a href="">Create Account</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
