nav {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.151);
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
}
.headerContainer {
  display: flex;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
}

.logo {
  font-size: 40px;
}

.navArea {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.logoContainer {
  width: 15%;
}

.wishListAndCart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links {
  width: 65%;
  display: flex;
  align-items: center;
}

.wishListAndCart {
  width: 35%;
  display: flex;
  align-items: center;
}

.cart,
.wishList {
  position: relative;
  display: flex;
  align-content: center;
  padding: 10px 0px;
  cursor: pointer;
}

.cart > p,
.wishList > p {
  position: absolute;
  background-color: rgb(230, 3, 3);
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  color: white;
  font-size: 11px;
  right: 0;
  top: 0;
}

.total {
  width: 70px;
  font-size: 15px;
  color: black;
  padding: 10px 5px;
  cursor: pointer;
  text-align: right;
}

.links li {
  margin-right: 25px;
  list-style-type: none;
}

.user {
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 15px 0px;
  position: relative;
}

.user ul {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 90%;
  right: 0;
  list-style-type: none;
  background-color: white;

  margin: 0;
  padding: 20px 20px;
  min-width: 150px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.151);
}

.user li a {
  display: block;
  padding: 5px 10px;
  font-size: 15px;
}

.user:hover ul {
  display: block;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

ul div:hover a {
  color: rgb(230, 3, 3);
}

ul div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

ul img {
  width: 24px;
  height: 24px;
}

.logout {
  color: rgb(230, 3, 3);
}

.track {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 120px;
}

.track button {
  padding: 6px 14px;
  text-align: center;
  background-color: black;

  font-weight: 500;
  color: white;
  border: none;
  border-radius: 16px;
  transition: ease 0.2s;
  cursor: pointer;
}

.track button:hover {
  background-color: rgb(225, 0, 0);
  transform: scale(0.95);
  transition: ease-in 0.2s;
}

.menu {
  display: none;
}

.sidebar-overlay {
  display: none;
}

.mobileMenuIcon {
  display: none;
}

@media (max-width: 1050px) {
  .mobileMenuIcon {
    display: none;
  }
  .links {
    display: none;
  }

  .navArea {
    justify-content: flex-end;
  }

  .wishListAndCart {
    width: 50%;
  }

  .track {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
  }

  .user img {
    display: none;
  }

  .user:hover ul {
    display: none;
  }

  .sidebar-overlay {
    display: block;
    position: fixed;
    z-index: 10000000;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.416);
    transform: translateX(100%);
    transition: ease-in-out 0.2s;
    margin: 0;
  }

  .menu-sidebar {
    position: fixed;
    width: 180px;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.151);
    transform: translateX(100%);
    transition: ease-in-out 0.2s;

    p {
      display: none;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 14px;
    }

    li {
      list-style-type: none;
    }

    a {
      font-size: 16px;
    }

    img {
      margin-right: 10px;
    }

    .track {
      display: contents;
    }

    .track button {
      width: 100%;
      border-radius: 10px;
    }

    .close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px;
    }
  }
  .sidebar-item h3 + div > img {
    display: none;
  }

  .menu-sidebar .links {
    display: block;

    li {
      margin-bottom: 10px;
    }
  }

  .sidebar-item {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: dotted 1px rgb(170, 170, 170);
  }

  .activeMenu {
    transform: translateX(0px);
    transition: ease-in-out 0.2s;
  }
}

@media (max-width: 500px) {
  .user {
    display: none;
  }

  .navArea {
    width: 25%;
  }

  .total {
    font-size: 18px;
  }

  .cart img {
    width: 35px;
    height: 35px;
  }

  .cart > p {
    top: 5px;
  }

  .logoContainer {
    width: 50%;
    text-align: center;

    .logo {
      font-size: 30px;
    }
  }

  .wishList {
    display: none;
  }

  .menu {
    display: none;
  }

  .mobileMenuIcon {
    display: flex;
    align-items: center;
    width: 25%;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .menu-sidebar {
    left: 0;
    transform: translateX(-100%);

    /* p,
    p + img {
      display: contents;
      margin-bottom: 10px;
      font-size: 18px;
    } */

    p {
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .sidebar-overlay {
    transform: translateX(-100%);
  }

  .activeMenu {
    transform: translateX(0px);
    /* transition: ease-in-out 0.2s; */
  }
}
