<nav>
  <div class="headerContainer">
    <div class="logoContainer">
      <h1 class="logo">Trendly</h1>
    </div>

    <div class="navArea">

      <ul class="links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a [routerLink]="'/shop/' + 'men'">Men</a></li>
        <li><a [routerLink]="'/shop/' + 'women'">Women</a></li>
        <li><a [routerLink]="'/shop/' + 'deals'">Deals</a></li>
        <li><a [routerLink]="'/cart'">Cart</a></li>
      </ul>
      <div class="wishListAndCart">
        <div routerLink="/wishlist" class="wishList">
          <img src="headerHeader.svg" alt="A heart icon">
          <p class="wishListCounter">{{favourites}}</p>
        </div>
        <div class="cart" (click)="viewCart()">
          <img src="headerBag.svg" alt="A cart icon">
          <p class="cartCounter">{{cartTotal}}</p>
        </div>
        <div class="total" (click)="viewCart()">
          <p>{{cartPrice | currency: "USD"}}</p>
        </div>
        <div class="user">
          <img src="headerUser.svg" alt="A person icon">
          <ul>
            <li><a routerLink="/login">Sign In</a></li>
            <li><a routerLink="/signup">Create Account</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div [class.cartActive]="cartActive" class="cartSidebar">
  <app-cart-sidebar (cartClosed)="closeCart($event)" [cartActive]="cartActive"></app-cart-sidebar>
</div>