<section>
  <div class="container">
    <div class="sectionOne">
      <h1>Trendly</h1>
      <p>We pride ourselves in providing only the best <br> with unmatched quality.</p>
      <p class="phone">+234 801 646 1635</p>
      <p class="email">Email Address: <span>trendlydesigns&commat;gmail.com</span></p>
      <p class="hours">Call Center Hours <span>Mon-Sat: 10am - 6pm</span></p>
    </div>
    <div class="sectionTwo">
      <h3>Helpful Links</h3>
      <ul>
        <li><a href="">Shop</a></li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Your Orders</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Create Account</a></li>
        <li><a href="">Track Order</a></li>
        <li><a href="">Deals</a></li>
      </ul>
    </div>
    <div class="sectionThree">
      <h3>Socials & Payments</h3>
      <div class="socials">
        <p>Follow Us: </p>
        <img src="footer/wa.png" alt="Whats App Icon">
        <img src="footer/ig.png" alt="Instagram Icon">
        <img src="footer/tt.png" alt="TikTok Icon">
        <img src="footer/fb.png" alt="Facebook Icon">
      </div>
      <div class="payments">
        <p>We Accept:</p>
        <img src="footer/visa.png" alt="Visa Logo">
        <img src="footer/mc.png" alt="Mastercard Logo">
        <img src="footer/pp.png" alt="Paypal Logo">
      </div>
    </div>
  </div>
  <hr>
  <div class="copyright">
    <p>Copyright 2025 &copy; Trendly Designs. All right reserved</p>
    <br>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Women</a></li>
        <li><a href="">Men</a></li>
        <li><a href="">Deals</a></li>
        <li><a href="">All Categories</a></li>
      </ul>
    </nav>
  </div>
</section>
