.wrap {
  display: flex;
  align-items: last baseline;
}

.title {
  width: 50%;
}

.nav {
  width: 50%;
  float: right;
}
.buttons {
  float: right;
}

button {
  margin-left: 20px;
  padding: 5px 15px;
  border: 0px;
}

.clicked {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 0px;
}

.products {
  margin-top: 50px;
  position: relative;
  /* overflow: hidden; */
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.368);
  z-index: 10000;
  height: 100%;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 4px;
  display: inline;
}

p {
  margin-top: 5px;
}

.notice {
  min-height: 365px;
  color: rgb(185, 0, 0);
  font-weight: 500;
}

@media (max-width: 500px) {
  .wrap {
    display: block;
  }

  .title {
    width: 100%;
  }

  .nav {
    width: 100%;
    float: none;
  }
  .buttons {
    float: none;
    margin-top: 30px;
  }

  button {
    margin-left: 0px;
    margin-right: 20px;
  }

  .products {
    margin-top: 30px;
  }

  h1 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    margin-top: 10px;
  }
}
