.overview {
  padding-top: 100px;
  color: rgb(72, 72, 72);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 22px;
  font-weight: 500;
}

.orders {
  margin-top: 60px;
}

button {
  padding: 10px 16px;
  border: 0px;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  color: black;
  margin-left: 20px;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: ease-in-out 0.2s;
}

.active {
  background-color: rgb(0, 0, 0);
  color: white;
}

table {
  width: 100%;
  text-align: left;
  border: solid 5px rgb(244, 245, 255);
  border-collapse: collapse;
}

thead {
  background-color: rgb(244, 245, 255);
}

tbody {
  width: 100%;
}

tbody tr {
  border: solid 5px rgb(244, 245, 255);
  margin: 5px;
  background-color: white;
}

tbody tr:hover {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
}

table + p {
  margin-top: 20px;
  padding: 15px;
}

th {
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
}

td {
  padding: 15px;
  font-weight: 350;
}

td a:hover {
  color: rgb(193, 32, 0);
  cursor: pointer;
}

.price {
  color: rgb(0, 86, 0);
}

.dialog {
  display: none;
}

.openDialog {
  display: flex;
}

.status {
  font-size: 12px;
  padding: 4px 15px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
}

.pending {
  background-color: rgb(209, 129, 0);
}

.delivered {
  background-color: rgb(0, 121, 0);
}

.inDelivery {
  background-color: rgb(2, 0, 139);
}

.processing {
  background-color: rgb(156, 0, 130);
}

.canceled {
  background-color: rgb(226, 0, 0);
}

.mobileFilter {
  display: none;
}

@media (max-width: 800px) {
  .heading {
    display: block;
  }

  .buttons {
    margin-top: 20px;
  }

  button {
    margin-left: 0px;
    margin-right: 12px;
  }

  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }

  td {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .buttons {
    display: none;
  }

  .mobileFilter {
    display: flex;
  }

  .orders {
    margin-top: 20px;
  }

  h1 {
    margin-bottom: 50px;
    font-size: 20px;
  }

  table {
    margin-top: 0px;
  }

  .mobileFilter p {
    font-weight: 500;
    margin-right: 10px;
    font-size: 14px;
  }

  select {
    outline: none;
    border: none;
  }

  button {
    width: 100%;
    padding: 10px 0px;
  }

  td:first-child,
  th:first-child,
  th:nth-child(3),
  td:nth-child(3),
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }
}
