.main {
  padding: 200px 20px 50px 20px;
}

.container {
  text-align: center;
  background-color: white;
}

h2 {
  font-size: 30px;
  color: #333;
}

label {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0.3125rem;
}

input {
  font-size: 16px;
  padding: 8px 100px;
  margin: 5px 0 15px;
  background-color: #f1f3f5;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
}

button {
  padding: 10px 80px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

p {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 50px;
  color: black;
}

.order {
  width: 70%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 100px;
}

.error {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1500px) {
  .order {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-weight: 500;
    font-size: 25px;
  }
  .order {
    padding-right: 0px;
    padding-left: 0px;
  }

  .main {
    padding-top: 120px;
  }
}
