<div class="main">
<div class="container">
  <h2>Track you Order</h2>
  <p class="description">
    Please enter your Order ID and Email int the given spaces below and press the "Check Status" button.

  </p>
  <form>
    <label for="orderId">Order ID:</label>
    <input type="text" id ="orderId" [(ngModel)]="orderId" name="orderId" placeholder="Enter you OrderID" required/>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email"  placeholder="Enter your Email" required />
    <button type="button" (click)="checkStatus()">Check Status</button>
  </form>
  <p *ngIf="orderStatus">{{orderStatus}}</p>
</div>
</div>
