<div class="carousel">
  <div class="carousel-images" [style.transform]="getTransform">
    @for(card of cardDetails; track card){
    <div class="section" [class.active]="$index === currentIndex">
      <div><img [src]="'Hero/' + card.image" alt="A fashion card"></div>
      <div class="content">
        <div>
          <p class="label">{{card.label}}</p>
          <h1>{{card.title}}</h1>
          <p>{{card.description}}</p>
          <button>Shop Now --></button>
        </div>

      </div>

    </div>
    }

  </div>
  <div class="buttonContainer">
    <div class="prev">
      <button (click)="prevSlide()">&#10094;</button>
    </div>
    <div class="next">
      <button (click)="nextSlide()">&#10095;</button>
    </div>
  </div>
  <div class="features">
    <app-features></app-features>
  </div>
</div>