
<!--&lt;!&ndash;<div class="order">&ndash;&gt;-->
<!--&lt;!&ndash;<table class="order-details">&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; Row for Product &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <tr class="product">&ndash;&gt;-->

<!--&lt;!&ndash;      <th>Product</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>&ndash;&gt;-->
<!--&lt;!&ndash;        <h3>Sub Total</h3>&ndash;&gt;-->
<!--&lt;!&ndash;      </td>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--&lt;!&ndash;       <td>&ndash;&gt;-->
<!--&lt;!&ndash;         <h3>Shipping fees</h3>&ndash;&gt;-->
<!--&lt;!&ndash;       </td>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>&ndash;&gt;-->
<!--&lt;!&ndash;        <h3>total</h3>&ndash;&gt;-->
<!--&lt;!&ndash;      </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </tr>&ndash;&gt;-->


<!--&lt;!&ndash;  &lt;!&ndash; Row for Subtotal with checkbox for Shipping Fees &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <tr class="subtotal">&ndash;&gt;-->
<!--&lt;!&ndash;    <h3>Total </h3>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Amount</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </td>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>&ndash;&gt;-->
<!--&lt;!&ndash;      <label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="radio" name="option" value="option1">&ndash;&gt;-->
<!--&lt;!&ndash;         Flat Fee ($15.50)&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->

<!--&lt;!&ndash;      <label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="radio" name="option" value="option2">&ndash;&gt;-->
<!--&lt;!&ndash;         Local Pickup ($0)&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </td>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Final Amount</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </td>&ndash;&gt;-->

<!--&lt;!&ndash;  </tr>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
<!-- <div class="orders">-->
<!--   <h3>Product</h3>-->

<!--   <br>-->
<!--   <h3>Subtotal</h3>-->
<!--   <br>-->
<!--   <h3>Shipping</h3>-->
<!--   <br>-->
<!--   <h3>Total</h3>-->
<!-- </div>-->

<!--  <div class="subtotal">-->
<!--    <p>Price</p>-->
<!--    <br>-->
<!--    <p>Price</p>-->
<!--    <br>-->
<!--    <input type="radio" name="option" value="option1"> Flat Fee ($15.50)-->
<!--     <br>-->
<!--    <input type="radio" name="option" value="option2"> Local Fees-->


<!--  </div>-->

<!--</div>-->
<!--<hr class="divider">-->

<!--<br>-->
<!--<div class="container2">-->
<!--<div class="payment">-->
<!--  <label>-->

<!--    <input type="radio" name="option" value="option1">-->
<!--   Make your payment directly into our bank account.<br> Please use your Order ID as the payment reference.<br>-->
<!--    Your order will not be shipped until the funds have <br>cleared in our account.-->
<!--  </label>-->
<!--  <br>-->
<!--  <label>-->
<!--    <input type="radio" name="option" value="option2">-->
<!--    Check Payment-->
<!--  </label>-->
<!--  <br>-->
<!--  <label>-->
<!--    <input type="radio" name="option" value="option3">-->
<!--    Cash on delivery-->
<!--  </label>-->
<!--</div>-->


<!--<div class="terms">-->
<!--  <input type="checkbox" id="myCheckbox">-->
<!--  <label for="myCheckbox">I agree to the terms and conditions</label>-->

<!--</div>-->
<!--<br>-->
<!--<button class="button">-->
<!--&lt;!&ndash;  Place order&ndash;&gt;-->
<!--</button>-->
<!--</div>-->
