<div class="container">
  <div class="women">
    <img src="Category/8.png" alt="Picture of a woman">
    <div class="womenContent">
      <p><span>{{totalWomen()}}</span>Products</p>
      <h1>Women</h1>
      <p>Explore our new and trending <br>Women's designs today.
      </p>
      <ul>
        <li>Shirts</li>
        <li>Skirts</li>
        <li>Pants</li>
        <Li>Jackets</Li>
        <Li>Shoes</Li>
        <li>Bags</li>
        <Li>Hoodie</Li>
        <li>Dress</li>
        <li>Sweatshirts</li>
        <li>Jeans</li>
      </ul>
    </div>
  </div>
  <div class="sectionTwo">
    <div class="men">
      <img src="Category/3.png" alt="Picture of a man">
      <div class="menContent">
        <p><span>{{totalMen()}}</span>Products</p>
        <h1>Men</h1>
        <ul>
          <li>Shirts</li>
          <Li>Jackets</Li>
          <Li>Hoodie</Li>
          <li>Jeans</li>
        </ul>
      </div>
    </div>
    <div class="sectionThree">
      <div class="shoes">
        <img src="Category/shoe.png" alt="Picture of a shoe">
        <div class="shoeContent">
          <p><span>{{totalShoes()}}</span>Products</p>
          <h1>Shoes</h1>
        </div>
      </div>
      <div class="bags">
        <img src="Category/bag.png" alt="Picture of a bag">
        <div class="bagContent">
          <p><span>{{totalBags()}}</span>Products</p>
          <h1>Bags</h1>
        </div>

      </div>
    </div>
  </div>
</div>