<div class="container" [class.cartActive]="cartActive">
  <div (click)="closeCart()" class="empty"></div>
  <div class="cart" [class.cartActive]="cartActive">
    <div class="allProducts">
      @if(cart.length != 0){
      @for(item of cart; track $index){
      <div class="product">
        <img [src]="'products/' + productImage(item.ID)" alt="Product Image">
        <div class="content">
          <a [routerLink]="'/product/' + item.ID" class="title" (click)="closeCart()">{{item.productName}}</a>
          <div>
            <p>{{getPrice(item) | currency: "USD"}}</p>
            <p class="count">x{{item.quantity}}</p>
          </div>
        </div>
        <p (click)="deleteProduct(item)" class="delete">x</p>
      </div>
      }
      }@else {
      <div class="emptyCart">
        <div>
          <img src="empty.png" alt="emptyCart">
          <h3>Your Cart is <span>Empty!</span></h3>
          <p>Looks like you have not added anything to your cart. Go ahead and explore our top categories</p>
        </div>


      </div>
      }
    </div>
    <div class="totals">
      <div class="subTotal">Subtotal: <span>{{cartTotal | currency: "USD"}}</span></div>
      <!-- @if(cart.length > 0){ -->
      <div class="buttons">
        <button routerLink="/cart" (click)="closeCart()">View Bag</button>
        <Button routerLink="/checkout" (click)="closeCart()">Checkout</Button>
      </div>
      <!-- } -->

      <p>Free Shipping on All Orders Above <span>$350.00</span></p>
    </div>
  </div>
</div>
