.cartWrapper {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-top: 150px;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cartInfo,
.cartTotal {
  background: #fff;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 25px; */
}

.cartInfo {
  width: 80%;
}

.freeShipping {
  background: #ffecec;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.active {
  background-color: rgb(221, 255, 231);
  color: green;
}

.notice {
  font-size: 14px;
  color: #d9534f;
}

.progress {
  width: 100%;
  height: 8px;
  background: #f8d7da;
  border-radius: 5px;
  margin-top: 10px;
}

.filled {
  height: 8px;
  background: red;
  border-radius: 5px;
  transition: width 0.5s ease;
}

.activeFilled {
  background-color: rgb(0, 185, 0);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  text-align: left;

  td {
    padding: 16px 10px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background: #f8f8f8;
    font-weight: 500;
    padding: 14px 10px;
    text-align: left;
  }

  .remove {
    cursor: pointer;
    color: red;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
  }

  img {
    width: 60px;
    border-radius: 8px;
  }
}

.name {
  cursor: pointer;
}

.name:hover {
  color: rgb(213, 0, 0);
}

.quantityButton {
  border: solid 1px #efefef;
  width: fit-content;
}

tbody button {
  padding: 5px 10px;
  border: none;
}

tbody span {
  margin: 0px 10px;
}

.clearCart {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .clearAll {
    background: #e63946;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      background: black;
    }
  }
}

.cartTotal {
  width: 20%;
  height: fit-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  padding: 25px;

  .subTotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }

  .shipping {
    display: flex;
    gap: 10px;
    margin: 10px 0px;

    label {
      display: flex;
      gap: 10px;
      line-height: 30px;
      float: right;
      font-size: 14px;
    }
  }

  .total .price {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

  .checkout-btn {
    width: 100%;
    background: #e63946;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    transition: background 0.3s ease;

    &:hover {
      background: #d62828;
    }
  }
}
