<div class="container">
  @if(customer){
  <div>
    <div class="customerSection">
      <h2>{{customer.firstName + " " +customer.lastName}}'s Information </h2>
      <div class="info">
        <div>
          <div>
            <h3>First Name</h3>
            <p>{{customer.firstName}}</p>
          </div>
          <div>
            <h3>Email address</h3>
            <p>{{customer.email}}</p>
          </div>
          <div>
            <h3>Status</h3>
            <p>{{customer.registered? 'Registered' : 'Not Registered'}}</p>
          </div>
        </div>
        <div>
          <div>
            <h3>Last Name</h3>
            <p>{{customer.lastName}}</p>
          </div>
          <div>
            <h3>Phone Number</h3>
            <p>{{customer.phoneNumber}}</p>
          </div>
          <div>
            <h3>Date Registered</h3>
            <p>{{customer.dateRegistered | date}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="deliveryInfo">
      <h2>Delivery Information </h2>
      @if(customer.address){
      <div class="info">
        <div>
          <div>
            <h3>Country</h3>
            <p>{{customer.address.country}}</p>
          </div>
          <div>
            <h3>State</h3>
            <p>{{customer.address.state}}</p>
          </div>
        </div>
        <div>
          <div>
            <h3>Town/City</h3>
            <p>{{customer.address.townCity}}</p>
          </div>
          <div>
            <h3>Postal Code</h3>
            <p>{{customer.address.postalCode}}</p>
          </div>
        </div>
      </div>
      <h3>Street Address</h3>
      <p>{{customer.address.address}}</p>
      }@else {
      <h5>This customer currently do not have a delivery address on file</h5>
      }

    </div>
  </div>
  <div class="orderedProducts">
    <h2>All Orders</h2>
    @if(getCustomerOrder(customer.email).length > 0){ @for(order of getCustomerOrder(customer.email); track $index){
    <h4>Order
      #{{order.orderID}}
    </h4>

    @for(product of order.products; track $index){
    <div class="product" [routerLink]="'/product/' + product.ID">
      <img [src]="'products/' + productImage(product.ID)" alt="product image">
      <div class="productDetails">
        <div>
          <h3>Product Name</h3>
          <p>{{product.productName}}</p>
        </div>
        <div>
          <h3>Quantity</h3>
          <p>{{product.quantity}}</p>
        </div>
        <div>
          <h3>Total Price</h3>
          <p>{{product.totalPrice | currency: "USD" }}</p>
        </div>
      </div>
    </div>
    }
    }
    }@else {
    <h5>There are no orders associated with this customer</h5>
    }
  </div>
  }
</div>