
<div class="main-image">
    <img src="main-image.png" height="700px" width="1300px" class="first-img">

    <div class="text-overlay5">
        <p class="header-text2">Exclusive Offers this week</p>
        <br>

        <h1>
        CHIC.
        BOLD. <br>
        & UNSTOPPABLE!
        </h1>
        <br>

        <p class="header-text2">Our collection is vast with clothes and accessories. <br>
           Browse our website and you will see exciting offers</p>
        <br>

        <button class="shopping">Shop now</button>
    </div>
</div>
<br>
<br>

<div class="image-box">
    <div class="image-container">
        <img src="Picture3.png" alt="image1" height="500px" width="500px">
        <div class="text-overlay">
            <br>
              <h1><ul>Women</ul></h1>
              <br>

              <p><em>"Women’s style is a blend of elegance and individuality,
                  from timeless classics to bold trends. It's a style for women of elegance"
              </em>
              </p>

            <br>
            <ul>
                <li>Blazers</li>
                 <li>T-shirts</li>
                 <li>Jeans</li>
                 <li>Hoodies</li>
                 <li>Denim</li>
                <li>Scarves</li>
                <li>Sweaters</li>
                <li>Shirts</li>
                <li>Pants</li>
                <li>Knit</li>



            </ul>

        </div>
    </div>
    <div class="image-box2">
        <div class="image-container2">
            <img src="Man.png" alt="image2" height="300px" width="550px">
            <div class="text-overlay2">
                <h1>Men</h1>
                <br>
                <p><em>"Fashion is the armor to survive<br> the reality of everyday life!"</em></p>
                <br>
                <ul>
                    <li>Blazers</li>
                    <li>Jeans</li>
                    <li>Hoodies</li>

                </ul>
            </div>
        </div>
        <div class="image-container3">
            <div class="shoes">
                <img src="shoes.png" height="250px" width="250px">
                <div class="text-overlay3"><h1>Shoes</h1></div>
            </div>
            <div class="bag">
                <img src="bag.png" height="250px" width="250px" >
                <div class="text-overlay4"><h1>Handbag</h1></div>
            </div>

        </div>
    </div>
</div>



<br>

<footer>
    <div class="footer">
        <div class="sub-1">
            <div class="help">
                <h2>Need Help?</h2>
                <br>
                <p>This is an awesome website!</p>
                <br>

                <h3>Helpline Number</h3>
                <br>
                <h2 class="number">+1 226-963-1278</h2>

                <h3 class="email">Contact us at support&#64;example.com</h3>

            </div>
            <h1> <div class="vertical-line"></div> <!-- Vertical line --></h1>
            <div class="help-you">
                <h2>Let us help you</h2>
                <br>

                <ul>
                    <li><a href="https://www.example.com">Statement</a></li>
                    <li><a href="https://www.google.com">Your Orders</a></li>
                    <li><a href="https://www.github.com">Returns & Replacements</a></li>
                    <li><a href="https://www.stackoverflow.com">Shipping rates & policies</a></li>
                    <li><a href="https://www.stackoverflow.com">Terms & Condition</a></li>
                </ul>



            </div>
            <div class="money">
                <h2>Make money with us</h2>
                <br>
                <p>If you want the content to be more dynamic or complex, you could implement additional logic (like randomizing sentence structure, word selection, etc.), but this approach gives you a simple way to display a random paragraph.</p>
            </div>
            <div class="know-us">
                <h2>Get to know us</h2>
                <br>
                <p>If you want the content to be more dynamic or complex, you could implement additional logic (like randomizing sentence structure, word selection, etc.), but this approach gives you a simple way to display a random paragraph.</p>


            </div>

        </div>
        <br>
        <hr>
        <div class="sub-2">
            <br>
            <h2>Follow us on Instagram</h2>
        </div>
        <br>
        <hr>
        <br>
        <div class="sub-3">
            <p>Copyright 2024 Group Project</p>

        </div>
    </div>
</footer>

