<div class="wrapper">
  <div (click)="$event.stopPropagation()" class="dialogcontainer">
    <div class="dialogHead">
      <h1>Order #{{order.orderID}} - {{order.date | date}}</h1>
      <div>
        <span
          [ngClass]="{'status': true,'pending': order.status == 'PENDING', 'processing': order.status == 'PROCESSING', 'inDelivery': order.status == 'OUT FOR DELIVERY', 'delivered': order.status == 'DELIVERED', 'canceled': order.status == 'CANCELED'}">{{
          order.status }}</span>
      </div>
    </div>
    <div class="dialogContent">
      <div class="customerSection">
        <h2>Customer Information </h2>
        <div class="info">
          <div>
            <h3>First Name</h3>
            <p>{{order.customer.firstName}}</p>
          </div>
          <div>
            <h3>Last Name</h3>
            <p>{{order.customer.lastName}}</p>
          </div>
        </div>
        <div class="info">
          <div>
            <h3>Email address</h3>
            <p>{{order.customer.email}}</p>
          </div>
          <div>
            <h3>Phone Number</h3>
            <p>{{order.customer.phoneNumber}}</p>
          </div>
        </div>
        <h3>Status</h3>
        <p>{{order.customer.registered ? "Registered" : "Not Registered"}}</p>
      </div>
      <div class="deliveryInfo">
        <h2>Delivery Information </h2>
        <div class="info">
          <div>
            <h3>Country</h3>
            <p>{{order.deliveryInfo.country}}</p>
          </div>
          <div>
            <h3>State</h3>
            <p>{{order.deliveryInfo.state}}</p>
          </div>
        </div>
        <div class="info">
          <div>
            <h3>Town/City</h3>
            <p>{{order.deliveryInfo.townCity}}</p>
          </div>
          <div>
            <h3>Postal Code</h3>
            <p>{{order.deliveryInfo.postalCode}}</p>
          </div>
        </div>
        <h3>Street Address</h3>
        <p>{{order.deliveryInfo.address}}</p>
      </div>
    </div>
    <div class="orderedProducts">
      <h2>{{totalProducts(order)}} Ordered Products</h2>
      @for(product of order.products; track $index){
      <div class="product" [routerLink]="'/product/' + product.ID">
        <img [src]="'products/' + productImage(product.ID)" alt="product image">
        <div class="productDetails">
          <div>
            <h3>Product Name</h3>
            <p>{{product.productName}}</p>
          </div>
          <div>
            <h3>Quantity</h3>
            <p>{{product.quantity}}</p>
          </div>
          <div>
            <h3>Size</h3>
            <p>{{product.size}}</p>
          </div>
          <div>
            <h3>Color</h3>
            <p>{{product.color}}</p>
          </div>
          <div>
            <h3>Total Price</h3>
            <p>{{product.totalPrice | currency: "USD" }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>