nav {
  padding-top: 100px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
  color: grey;
}
nav a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 40px;
}

.images {
  position: relative;
  overflow: hidden;
  width: 42%;
}

.images p {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px;
  background-color: rgb(225, 0, 0);
  color: white;
}

.imageDisplay {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.allImages {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 10px;
}

.allImages img {
  width: 20%;
  padding: 5px;
  border: solid 1.5px rgb(198, 198, 198);
}

.imageClicked {
  padding: 5px;
  border: solid 1.5px rgb(0, 0, 0) !important;
}

img {
  width: 100%;
}

.productInfo {
  width: 39%;
}

h1 {
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 35px;
  padding-bottom: 20px;
  border-bottom: solid 0.5px rgb(125, 125, 125);
}

.price {
  font-size: 25px;
  /* color: rgb(255, 0, 0); */
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.price .discount {
  color: grey;
  text-decoration: line-through;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 400;
}

.outOfStock,
.inStock {
  background-color: rgba(0, 255, 0, 0.209);
  text-align: center;
  color: rgb(0, 132, 0);
  width: 80px;
  padding: 4px 0px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
  border-radius: 50px;
}

.outOfStock {
  background-color: rgba(255, 0, 0, 0.169);
  color: rgb(132, 0, 0);
  width: 100px;
}

.description {
  margin-bottom: 30px;
  width: 95%;
  font-size: 15px;
}

.size,
.color {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.color div {
  margin-right: 5px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 50px;
  border: solid 2px grey;
}

.color span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.selectedColor {
  border: solid 2px red !important;
}

.warning {
  color: rgb(212, 0, 0);
  font-size: 500;
}

.size span {
  margin-right: -5px;
  margin-left: 20px;
  text-align: center;
  width: 50px;
  height: 20px;
  padding: 5px 0px;
  border: solid 1px rgb(208, 208, 208);
}

.selectedSize {
  background-color: rgb(255, 21, 0);
  color: white;
  border-color: rgb(255, 21, 0) !important;
}

.quantity {
  margin-top: 50px;
  margin-bottom: 20px;
}

.quantity p {
  border: solid 1px rgb(202, 202, 202);
  padding: 10px 0px;
  display: inline;
}

.quantity button {
  border: none;
  background-color: white;
  padding: 5px 20px;
  font-size: 20px;
}

.quantity span {
  display: inline-block;
  text-align: center;
  min-width: 50px;
}

.quantity .addToCart {
  background-color: black;
  font-size: 16px;
  color: white;
  padding: 12px 50px;
  margin-left: 10px;
  border: none;
}

.quantity .disabledButton {
  background-color: rgb(209, 209, 209);
  font-size: 16px;
  color: rgb(254, 254, 254);
  padding: 12px 50px;
  margin-left: 10px;
  border: none;
}

.wishlist img {
  width: 25px;
  margin-right: 10px;
}

.wishlist button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 500;
}

.info {
  margin-top: 30px;
  padding-top: 20px;
  border-top: solid 0.5px rgb(125, 125, 125);
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 14px;
}

li span {
  color: green;
  margin-right: 10px;
}

.category {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.category p:first-child {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.cat {
  margin-right: 10px;
  font-size: 13px;
}

.tag {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
}

.tag span {
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

h3 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.viewed {
  width: 19%;
}

.viewedProducts {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}

.viewedProducts :hover {
  text-decoration: underline;
  cursor: pointer;
}

.viewedProducts div:first-child {
  width: 25%;
  margin-right: 15px;
}

.viewedProducts div:nth-child(2) {
  width: 75%;
}

.viewedProducts div:nth-child(2) p + p {
  margin-top: 6px;
  font-weight: 500;
}

.relatedProducts {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;
}

.relatedProducts h2 {
  font-weight: 500;
  margin-bottom: 30px;
}
