<div class="dashboard">
  <div class="navWrapper" [class.navOpen]="isNavOpen" (click)="closeNav()">
    <div class="nav" (click)="stopClickEffect($event)">
      <h1>Trendly</h1>
      <div class="nav-items">
        @if(user?.role == 'ADMIN'){
        <ul>
          <li class="userName">
            <p>Welcome Back, {{userName()}}!</p>
          </li>
          <li><a [routerLink]=" '/myaccount/'+ 'overview'" [class.selected]="navigation == 'overview'"><img
                src="dashboard/overview.png" alt="overview icon">Overview</a></li>
          <li><a [routerLink]=" '/myaccount/'+ 'manage-orders'" [class.selected]="navigation == 'manage-orders'"><img
                src="dashboard/order.png" alt="orders icon">Manage
              Orders</a></li>
          <li><a [routerLink]=" '/myaccount/'+ 'customers'" [class.selected]="navigation == 'customers'"><img
                src="dashboard/users.png" alt="customer icon">Customers</a>
          </li>
        </ul>
        }@else if (user?.role == 'CUSTOMER') {
        <ul>
          <li class="userName">
            <p>Welcome Back, {{userName()}}!</p>
          </li>
          <li><a [routerLink]=" '/myaccount/'+ 'myorders'" [class.selected]="navigation == 'myorders'"><img
                src="dashboard/overview.png" alt="overview icon">Orders</a></li>
          <li><a [routerLink]=" '/myaccount/'+ 'track'" [class.selected]="navigation == 'track'"><img
                src="dashboard/order.png" alt="orders icon">Track Order</a></li>
        </ul>

        }
      </div>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <img src="nav/menu.png" alt="hamburger" class="menu" (click)="openNav()">
      <h2>{{heading}}</h2>
      <div class="icons">
        <p>Welcome Back, {{userName()}}!</p>
        <img src="dashboard/homeIcon.png" alt="nav icon" routerLink="/home">
        <!-- <img src="headerUser.svg" alt="A person icon"> -->
        <img src="dashboard/logout.png" alt="nav icon" (click)="logout()">
      </div>
    </div>
    <div class="view">
      @if(navigation == "overview"){
      <app-overview></app-overview>
      }@else if (navigation == "manage-orders") {
      <app-manage-orders></app-manage-orders>
      }@else if (navigation == "customers") {
      <app-customers></app-customers>
      }@else if (navigation == 'myorders') {
      <app-user-orders></app-user-orders>
      }@else if (navigation == 'track') {
      <app-user-tracking></app-user-tracking>
      }

    </div>
  </div>
</div>