/* nav {
  padding-top: 100px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
  color: grey;
} */

/* nav a {
  text-decoration: none;
  color: black;
} */

.shop {
  padding-top: 100px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
}

.filterHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(216, 216, 216);
}

.filterHeader p {
  width: 50%;
  color: grey;
}

.filterHeader .sortContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.sort,
.show {
  margin-left: 20px;
}

.sortContainer label {
  font-weight: 500;
}

select {
  border: none;
}

select:focus {
  outline: none;
  /* border: none; */
}

.mainSection {
  display: flex;
  gap: 30px;
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(219, 219, 219);
}

.control label {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  accent-color: red;
  margin-left: 5px;
}

.mobileFilterWrapper {
  width: 20%;
  border-right: solid rgb(219, 219, 219) 1px;
  padding-right: 30px;
}

.allProducts {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  height: fit-content;
}

/* Price Filter style starts here */

.price-filter {
  border-radius: 5px;
  background: #fff;
}
.price-filter p {
  color: grey;
  margin-top: 10px;
}

.price-filter p span {
  color: black;
  font-weight: 400;
  font-size: 15px;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
}

.price-inputs label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}

/* Works on Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 90px;
  padding: 8px 0px 8px 15px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(238, 238, 238);
}

input:focus {
  outline: none;
}

.priceSlider {
  margin-top: 0px;
}

::ng-deep .priceSlider ngx-slider .ngx-slider-pointer {
  background-color: rgb(51, 51, 51);
  width: 15px;
  height: 15px;
  top: -6px;
}

::ng-deep .priceSlider .ngx-slider-active:focus {
  outline: none;
}

::ng-deep .priceSlider .ngx-slider .ngx-slider-selection {
  background-color: rgb(51, 51, 51);
}

::ng-deep .priceSlider .ngx-slider .ngx-slider-bar {
  height: 2px;
}

::ng-deep .priceSlider ngx-slider .ngx-slider-pointer::after {
  display: none;
}

/* Price Filter style ends here */

h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.categories,
.price-filter,
.sizeFilter {
  margin-bottom: 50px;
}

.cat {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.cat span {
  cursor: pointer;
}

.cat p {
  margin-left: auto;
  font-size: 13px;
  color: rgb(167, 167, 167);
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 12px;
  width: 15px;
  height: 15px;
  accent-color: red;
}

.cat input[type="checkbox"]:checked + span {
  font-weight: 500;
  color: red;
}

.filterIcon {
  display: none;
}

.close {
  display: none;
}

.totalResult {
  display: none;
}

@media (max-width: 1050px) {
  .allProducts {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mainSection {
    gap: 20px;
  }

  .shop {
    padding-left: 30px;
    padding-right: 30px;
  }

  .price-inputs {
    gap: 10px;
  }

  .price-inputs div {
    width: 50%;
  }

  input[type="number"] {
    width: 80%;
  }

  .mobileFilterWrapper {
    width: 25%;
  }

  .allProducts {
    width: 75%;
  }
}

@media (max-width: 800px) {
  .shop {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 25px;
  }

  .filterIcon {
    display: flex;
    width: 33.33%;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-right: 6px;
    }

    p {
      color: black;
    }
  }
  .mobileFilterWrapper {
    position: fixed;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.343);
    transform: translateX(-100%);
    transition: ease-in-out 0.3s;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  .mobileFilter {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow: scroll;
    transform: translateX(-100%);
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.151);
    transition: ease-in-out 0.3s;

    .filter {
      padding: 35px;
      box-sizing: border-box;
      border: none;
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      display: block;
    }
  }

  .activeFilter {
    transform: translateX(0);
    transition: ease-in-out 0.3s;
  }

  .allProducts {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0px;
  }

  .filterHeader div + p {
    width: 33.33%;
    text-align: center;
  }

  .filterHeader .sortContainer {
    width: 33.33%;
  }

  .filterHeader .show {
    display: none;
  }
}

@media (max-width: 500px) {
  .shop {
    padding-top: 80px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .mobileFilter {
    width: 70%;
  }

  .totalResult {
    display: block;
    margin-bottom: 20px;
    color: grey;
    font-size: 15px;
  }
  .filterIcon {
    width: 40%;
  }

  .filterHeader .sortContainer {
    width: 60%;
  }

  .allProducts {
    grid-template-columns: 1fr 1fr;
  }

  .filterHeader div + p {
    display: none;
  }

  .filterHeader {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
