<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
=======
* {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}
>>>>>>> 3317c231c89db792a5bb85cd888b3081c5f8bb6b
