main {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.hero {
  margin-bottom: 60px;
}

.featuredProducts {
  margin-bottom: 50px;
}

.category {
  margin-bottom: 50px;
}

.sales {
  margin-bottom: 50px;
}

.card {
  margin-bottom: 50px;
}

.review {
  margin-top: 100px;
}

@media (max-width: 1300px) {
  .container {
    margin: 0px 20px;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0px 12px;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-bottom: 40px;
  }
  .featuredProducts {
    margin-bottom: 20px;
  }
}
