<app-header></app-header>
<section class="hero">
  <app-hero-section></app-hero-section>
</section>
<main>
  <section class="featuredProducts">
    <app-featured-products></app-featured-products>
  </section>
  <section class="category">
    <app-category-section></app-category-section>
  </section>
  <section class="sales">
    <app-sales-products></app-sales-products>
  </section>
  <section class="card">
    <app-card-section></app-card-section>
  </section>
  <section class="special">
    <app-special-collection></app-special-collection>
  </section>
  <section class="review">
    <app-review></app-review>
  </section>
</main>
<footer>
  <app-footer></app-footer>
</footer>