.register {
  padding-top: 130px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

form {
  margin-top: 50px;
}

.info,
.address {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  margin-bottom: 20px;
  background-color: rgba(211, 211, 211, 0.5);
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

h1 {
  margin-bottom: 10px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.passwordInput {
  position: relative;
}

img {
  width: 20px;
  height: 20px;
}

.eyes {
  position: absolute;
  top: 15%;
  right: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5c59;
}

button {
  background-color: #ee403d;
  padding: 10px 100px;
  align-items: center;
  color: white;
  font-size: 16px;
  border: none;
}

.warning {
  color: #ee403d;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.button p {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #ee403d;
}

@media (max-width: 1100px) {
  .register {
    padding: 120px 20px 0px 20px;
  }

  h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 28px;
  }

  .button p {
    width: 100%;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 25px;
  }

  .content {
    gap: 20px;
  }

  label {
    font-size: 14px;
  }

  input {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .passwordInput input {
    padding-right: 40px;
  }

  a {
    font-size: 14px;
  }

  .warning {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .error {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .register {
    padding: 90px 20px 0px 20px;
  }

  .content {
    flex-direction: column;
    gap: 20px;
  }

  .info,
  .address {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  .button p {
    font-size: 14px;
  }
}
