.register {
  padding-top: 130px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

form {
  margin-top: 50px;
}

.info,
.address {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px 0px;
  border: none;
  margin-bottom: 20px;
  background-color: rgba(211, 211, 211, 0.5);
  font-size: 16px;
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

h1 {
  margin-bottom: 10px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.passwordInput {
  position: relative;
}

img {
  width: 20px;
  height: 20px;
}

.eyes {
  position: absolute;
  top: 15%;
  right: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5c59;
}

button {
  background-color: #ee403d;
  padding: 10px 100px;
  align-items: center;
  color: white;
  font-size: 16px;
  border: none;
}

.warning {
  color: #ee403d;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.button p {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #ee403d;
  font-size: 600;
}
